<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 - INTERNET-PROGRAMMING MOVIE SITE</title>
    <link rel = “stylesheet” type = “text/css” href = “/main.css”>
</head>
<body>
    <h1>Welcome to INTERNET-PROGRAMMING MOVIE SITE</h1>
    로그인 | <a href="/signup">회원가입 | <a href="/">메인페이지</a>

    <form action="#" method="post">
        <fieldset>
            <legend>로그인 정보</legend>

            아이디 :
            <input type="text" name="userid" placeholder="아이디 입력" required><br><br>

            비밀번호 :
            <input type="password" name="password" placeholder="비밀번호 입력" required><br><br>

            <button type="submit" style="background-color: lightgreen;">Login</button>
            <button type="button" style="background-color: red;" onclick="window.location.href='signup.html'">Cancel</button>
        </fieldset>
    </form>
</body>
</html>
